@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-bg: #ffffff;
  --color-primary: #f5f5f5;
  --color-secondry: #ffffff;
  --color-tertiary  :#e5e4e2;
  --color-dark-green: #1a4645;
  --color-light-green: #266867;
  --color-orange: #f58800;
  --color-yellow: #f8bc27;
  --color-border: #e5e4e2;
  --color-text: #0d1117;
  --color-heading: #99a1af; /* gray-400 */
  --color-p: #6a7282; /* gray-500 */
  --color-description: #4a5565; /*gray-300*/
  --color-tile-shadow: #e5e4e2;
  --color-tile-color: #c0c0c0;
}

@layer theme {
  :root {
    @variant dark {
      --color-brand-bg: #0f172a;
      --color-primary: #0d1117;
      --color-secondry: #0a0e14;
        --color-tertiary  :#0f1620e0;
      --color-dark-green: #1a4645;
      --color-light-green: #266867;
      --color-orange: #f58800;
      --color-yellow: #f8bc27;
      /* --color-border: #494b4c; */
      --color-border: #1e2939; /* gray-800*/
      --color-text: #ffffff;
      --color-heading: #99a1af; /* gray-400 */
      --color-p: #6a7282; /* gray-500 */
      --color-description: #d1d5dc; /*gray -6--*/
      --color-tile-shadow: #364153;
      /* --color-tile-color:#0F1620; */
      --color-tile-color: #283549;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
